<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bruh Website</title>
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">





    </head>
    <body>
       
        <h1>A Website that makes you go "bruh"!</h1>
        <p>Website Refresh every 30 seconds!</p><br />
        <p><img src="{{meme_pic}}"></p>
        <p class="title">subreddit:{{subreddit}}</p>
        <script src="" async defer></script>
    </body>
</html>